.account {
    margin-top: 15px;
}

.account-label {
    display: inline-block;
    width: 180px;
}

.account-name {
    display: inline-block;
}

.repass-btn {
    color: var(--main-color-dark);
    display: block;
    margin: 10px 0;
    width: fit-content;
}

.repass-btn:hover {
    color: var(--main-color);
}

.hide {
    display: none;
}

.repass-form {
    position: relative;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.form-label {
    width: 180px;
    margin: 0;
}

.form-control {
    max-width: 300px;
}

.form-control:focus {
    box-shadow: 0 0 0 1px var(--main-color-dark);
    border-color: var(--main-color-dark);
}

.form-group.invalid .form-control {
    border-color: var(--color-red);
}

.form-group.invalid .form-control:focus {
    box-shadow: 0 0 0 1px var(--color-red);
}

.form-group.invalid .form-message {
    display: block;
}

.form-message {
    display: none;
    font-size: 12px;
    margin-left: 10px;
    color: var(--color-red);
}
