.account {
    margin-top: 15px;
}

.account-label {
    display: inline-block;
    width: 180px;
}

.account-name {
    display: inline-block;
}

.repass-btn {
    color: var(--main-color-dark);
    display: block;
    margin: 10px 0;
    width: fit-content;
}

.repass-btn:hover {
    color: var(--main-color);
}

.hide {
    display: none;
}

.repass-form {
    position: relative;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

.form-label {
    width: 180px;
}

.form-control {
    max-width: 300px;
}

.form-control:focus {
    box-shadow: 0 0 0 2px var(--main-color-dark);
    border-color: var(--main-color-dark);
}

.test {
    position: absolute;
    left: 10%;
}