<div class="row">
    <nav class="sidebar col-sm-3 col-md-3 col-lg-3 col-xl-2">
        <ul class="sidebar-list">
            <li class="sidebar-item {{ dashboard }}">
                <a href="/dashboard" class="sidebar-item__link">
                    <i class="fas fa-home sidebar-item__icon"></i>
                    Trang chủ
                </a>
            </li>
            <li class="sidebar-item {{ devices }}">
                <a href="/devices" class="sidebar-item__link">
                    <i class="fas fa-network-wired sidebar-item__icon"></i>
                    Quản lí phòng máy
                </a>
            </li>
            <li class="sidebar-item {{ user }}">
                <a href="/user" class="sidebar-item__link">
                    <i class="fas fa-user-alt sidebar-item__icon"></i>
                    Quản lí tài khoản
                </a>
            </li>
        </ul>
        <div class="sidebar-info">
            <a href="/about-contact/?content=about" class="sidebar-info__link">Giới thiệu</a>
            <a href="/about-contact/?content=contact" class="sidebar-info__link">Liên hệ với chúng tôi</a>
            <span class="sidebar-info__license">&copy; 2021 TT</span>
        </div>
    </nav>

    <div class="main-right col-sm-9 col-md-9 col-lg-9 col-xl-10">
        {{{ body }}}
    </div>
</div>