<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <div class="main-right__content">
            <span class="main-right__title">
                Máy đang hoạt động
            </span>
            <canvas class="pc-working__chart" id="doughnutChart"></canvas>
            <span class="pc-working__percent">80%</span>
        </div>

    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <div class="main-right__content">
            <span class="main-right__title">
                Tổng số giờ hoạt động
            </span>
            <div class="circle">
                <div>
                    <span class="hour">13</span>h
                </div>
                <div>
                    <span class="min">20</span>m
                </div>
                <div>
                    <span class="second">24</span>s
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">

    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // chart
        var ctxD = document.getElementById("doughnutChart").getContext('2d');
        var myLineChart = new Chart(ctxD, {
            type: 'doughnut',
            data: {
                labels: ["Đang hoạt động", "Không hoạt động"],
                datasets: [{
                    data: [80, 20],
                    backgroundColor: ["#ACFCDA", "#949FB1"],
                    hoverBackgroundColor: ["#C7FFD8", "#A8B3C5"]
                }]
            },
            options: {
                responsive: true
            }
        });

        // count up
        jQuery(document).ready(function ($) {
            $('.hour').counterUp({
                delay: 10,
                time: 500
            });
            $('.min').counterUp({
                delay: 10,
                time: 500
            });
            $('.second').counterUp({
                delay: 10,
                time: 500
            });
        });
    });
</script>