<span class="main-right__heading">
    Thông tin tài khoản
</span>
<div class="account">
    <div>
        <span class="account-label">Tên tài khoản</span>
        <span class="account-name">{{ username }}</span>
    </div>
    <a href="" class="repass-btn">
        <i class="fas fa-pencil-alt"></i>
        Đổi mật khẩu
    </a>
    <form action="" method="POST" class="repass-form hide">
        <div class="form-group">
            <label for="old-pass" class="form-label">Mật khẩu cũ</label>
            <input type="password" id="old-pass" name="old-pass" class="form-control">
        </div>
        <div class="form-group">
            <label for="new-pass" class="form-label">Mật khẩu mới</label>
            <input type="password" id="new-pass" name="new-pass" class="form-control">
        </div>
        <div class="form-group">
            <label for="re-pass" class="form-label">Nhập lại mật khẩu</label>
            <input type="password" id="re-pass" name="re-pass" class="form-control">
        </div>

        <div class="test">
            <button class="btn">Lưu thay đổi</button>
            <button class="btn-cancel">Hủy</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const repassBtn = document.querySelector('.repass-btn');
        const repassForm = document.querySelector('.repass-form');
        repassBtn.onclick = (e) => {
            e.preventDefault();
            if (repassForm.classList.contains('hide')) {
                repassForm.classList.remove('hide');
            } else {
                repassForm.classList.add('hide');
            }
        } 
    });
</script>